<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.css') }}">
</head>
<body>
    <nav class="d-flex justify-content-around align-items-center bg-dark">
        <div class="text-warning">
            <h1>Tekken Time</h1>
        </div>
        <h4 class="text-center text-warning">Welcome {{user.first_name}}!</h4>
            <div class="d-flex btn-group-vertical">
                <div class="d-flex align-items-center justify-content-around">
                <a href="/friends" class="btn btn-primary">Friends</a>
                <a href="/new/matchup" class="btn btn-primary">Create a New Punish</a>
                <a href="/dashboard" class="btn btn-primary">Dashboard</a>
                <a href="/logout" class="btn btn-info">Logout</a>
            </div>
        </div>
    </nav>
    <div class="card col-6 mx-auto my-5 bg-dark text-light font-weight-bold">
        <img src="/static/img/tekkenbanner.jpg" style="width: 100%; height: 50%; margin-top: -10px;" alt="">
        <h1 class="my-5 card-title text-primary d-flex justify-content-center">{{edit.userchar}} vs. {{edit.opponent}}'s {{edit.move}}</h1>
        <h2 class="text-warning d-flex justify-content-center">Edit Matchup</h2>
        <form action="/update/matchup" method="post">
            {% with messages = get_flashed_messages(category_filter=['matchup']) %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <div class="d-flex justify-content-around">
                <input type="hidden" name="id" value={{edit.id}}>
            <!-- <div class="col-8">
                    <div class="form-group">
                        <label for="opponent">Opponent</label>
                        <textarea name="opponent"  cols="20" rows="1" class="form-control">{{edit.opponent}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="userchar">Character:</label>
                        <textarea name="userchar"  cols="20" rows="1" class="form-control">{{edit.userchar}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="num_of_frames">How many frames?</label>
                        <textarea name="num_of_frames"  cols="6" rows="1" class="form-control">{{edit.num_of_frames}}</textarea>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label for="move">Move?</label>
                        <textarea name="move"  cols="6" rows="1" class="form-control">{{edit.move}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="punish">Punish!</label>
                        <textarea name="punish"  cols="6" rows="1" class="form-control">{{edit.punish}}</textarea>
                    </div>
                        <br>
                        <input type="submit" value="Add Punish" class="btn btn-success">
                    </div> -->
                <div>
                    <div class="form-group">
                        <label for="opponent">Opponent</label>
                        <select name="opponent" id="opponent">
                            <option value="Jin">Jin</option>
                            <option value="Asuka">Kazumi</option>
                            <option value="Kazuya">Kazuya</option>
                            <option value="King">King</option>
                            <option value="Zafina">Zafina</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="move">Move?</label>
                        <textarea name="move"  cols="6" rows="1" class="form-control">{{edit.move}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="num_of_frames">Frames?</label>
                        <textarea name="num_of_frames"  cols="6" rows="1" class="form-control">{{edit.num_of_frames}}</textarea>
                    </div>
                </div>
                <div">
                    <div class="form-group">
                        <label for="userchar">Character:</label>
                        <select name="userchar" id="userchar">
                            <option value="Jin">Jin</option>
                            <option value="Asuka">Kazumi</option>
                            <option value="Kazuya">Kazuya</option>
                            <option value="King">King</option>
                            <option value="Zafina">Zafina</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="punish">Punish!</label>
                        <textarea name="punish"  cols="6" rows="1" class="form-control">{{edit.punish}}</textarea>
                    </div>
                    <br>
                    <input type="submit" value="Submit Edit" class="btn btn-success">
                </div>
            </div>
            <!-- <div class="d-flex justify-content-between col-9">
                <div class="col-4">
                    <div class="form-group">
                        <label for="first_name">First Name:</label>
                        <textarea name="first_name"  cols="30" rows="5" class="form-control">{{edit.first_name}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name:</label>
                        <textarea name="event"  cols="30" rows="5" class="form-control">{{edit.last_name}}</textarea>
                    </div>
                </div>
                    <input type="submit" value="Submit Name Change" class="btn btn-primary">
                    </div>
                </div>
            </div> -->
        </form>
</body>
</html>