<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.css') }}">
</head>
<body>
    <div class="d-flex justify-content-center align-items-center">
        <img src="/static/img/tekkenbanner.jpg" style="width: 100%; height: 50%; margin-top: -10px;" alt="">
    </div>
    <div class="text-primary d-flex justify-content-center align-items-center bg-dark">
            <h1>Tekken Time</h1>
            <h5 class="text-danger">punishment guide fueled by you</h5>
    </div>
    <div class="d-flex justify-content-center p-1">
        <form action="/register" method="post" class="col-3 p-4 bg-dark text-light">
            <h2 class="text-warning d-flex justify-content-center">Register</h2>
            {% with messages = get_flashed_messages(category_filter=['register']) %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name" class="form-control" placeholder="John">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name" class="form-control" placeholder="Smith">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" name="email" class="form-control" placeholder="example@email.com">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-control" placeholder="example@email.com">
            </div>
            <div class="form-group">
                <label for="confirm">Confirm Password:</label>
                <input type="password" name="confirm" class="form-control" placeholder="Enter a password...">
            </div>
            <div class=" d-flex justify-content-center ">
                <input type="submit" value="Register" class="btn btn-warning" placeholder="Re-enter a password">
            </div>
        </form>
        <form action="/login" method="post" class="col-3 p-4 bg-dark text-light " style="height: 25%;">
            <h2 class="text-warning d-flex justify-content-center">Login</h2>
            {% with messages = get_flashed_messages(category_filter=['login']) %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" name="email" class="form-control" placeholder="example@email.com">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-control" placeholder="Enter your password...">
            </div>
            <div class=" d-flex justify-content-center ">
                <input type="submit" value="Login" class="btn btn-warning d-flex justify-content-center">
            </div>
        </form>
    </div>
</body>
</html>