<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Punish</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.css') }}">
</head>
<body>
    <nav class="d-flex justify-content-around align-items-center bg-dark">
        <div class="text-warning">
            <h1>Tekken Time</h1>
        </div>
        <h4 class="text-center text-warning">Welcome {{user.first_name}}!</h4>
            <div class="d-flex btn-group-vertical">
                <div class="d-flex align-items-center justify-content-around">
                <a href="/friends" class="btn btn-primary">Friends</a>
                <a href="/dashboard" class="btn btn-primary">Dashboard</a>
                <a href="/logout" class="btn btn-info">Logout</a>
            </div>
        </div>
    </nav>
    
    <form action="/create/matchup" method="post" class="col-6 p-4 my-4 bg-dark text-light mx-auto">
        <h2 class="text-success d-flex justify-content-center">Add a Punish</h2>
        {% with messages = get_flashed_messages(category_filter=['matchup']) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        <div class="d-flex justify-content-around">
            <div>
                <div class="form-group">
                    <label for="opponent">Opponent</label>
                    <select name="opponent" id="opponent">
                        <option value="Jin">Jin</option>
                        <option value="Asuka">Kazumi</option>
                        <option value="Kazuya">Kazuya</option>
                        <option value="King">King</option>
                        <option value="Zafina">Zafina</option>
                    </select>
                    <!-- <textarea name="opponent"  cols="20" rows="1" class="form-control"></textarea> -->
                </div>
                <div class="form-group">
                    <label for="move">Move?</label>
                    <textarea name="move"  cols="6" rows="1" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="num_of_frames">Frames?</label>
                    <textarea name="num_of_frames"  cols="6" rows="1" class="form-control"></textarea>
                </div>
            </div>
            <div>
                <div class="form-group">
                    <label for="userchar">Character:</label>
                    <select name="userchar" id="userchar">
                        <option value="Jin">Jin</option>
                        <option value="Asuka">Kazumi</option>
                        <option value="Kazuya">Kazuya</option>
                        <option value="King">King</option>
                        <option value="Zafina">Zafina</option>
                    </select>
                    <!-- <textarea name="userchar"  cols="20" rows="1" class="form-control"></textarea> -->
                </div>
                <div class="form-group">
                    <label for="punish">Punish!</label>
                    <textarea name="punish"  cols="6" rows="1" class="form-control"></textarea>
                </div>
                    <br>
                    <input type="submit" value="Add Punish" class="btn btn-success">
                </div>
            </div>
        </div>
    </form>
</body>
</html>